# Copyright Holder: TANIGUCHI Masaya
# Copyright Year: 2020
# License: MIT
# Project: Playbook Kallithea
[Unit]
Description=Kallithea is a GPLv3'd, Free Software source code management system.

[Service]
ExecStart={{ kallithea_root }}/.venv/bin/gearbox serve -c {{ kallithea_root }}/kallithea.ini
WorkingDirectory={{ kallithea_root }}

[Install]
WantedBy=multi-user.target
